h1 {
  color: #ff9718;
}

body {
  overflow-x: hidden;
}
.nav-link {
  color: #5f7c8d !important;
  font-size: large;
}

.hero {
  position: relative;
}

.text-overlay {
  position: absolute;
  top: 200px;
  left: 100px;
  padding: 2rem;
  font-size: 4rem;
  font-weight: 300;
  color: #fff;
  backdrop-filter: blur(14px) brightness(80%);
}

.strawberries-text {
  padding-top: 70px;
  background-color: #5f7c8d;
  color: #fff;
  font-size: 30px;
}

.strawberries-button {
  background-color: #fff;
  color: #5f7c8d;
  margin-top: 50px;
}
.signup-section {
    padding-top: 50px;
}

#mc_embed_signup {
  background: #fff;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
  width: 600px;
}

.form-text {
    color: #5f7c8d;
    font-weight: bolder;
}

.signup-text {
    color: #5f7c8d;
    font-size: 30px;
}

#mc_embed_signup .button {
    background-color: #5f7c8d;
}

.small-print {
    font-size: xx-small;
    color: #5f7c8d;
}

.small-print>a {
    text-decoration: underline;
    color: #5f7c8d;
}

.bant-logo {
    padding-top: 10%;
    width: 230px;
}

.nced-logo {
    padding-bottom: 10%;
    width: 230px;
}

.social-media {
    background-color: #5f7c8d;
}

.social-media-icon {
    color: #fff;
}

.footer-links>p>a {
    color: #5f7c8d;
}

@media only screen and (max-width: 768px) {
  .text-overlay {
    top: 75px;
    left: 20px;
    font-size: 1.3rem;
    padding: 1.2rem;
  }

  .strawberries-text {
    padding-top: 30px;
    background-color: #5f7c8d;
    color: #fff;
    font-size: 20px;
  }

  .signup-text {
      font-size: 20px;
  }
}
