body {
  overflow-x: hidden;
}
.nav-link {
  color: #5f7c8d !important;
  font-size: large;
}

.hero {
  position: relative;
}

.text-overlay {
  position: absolute;
  top: 200px;
  left: 100px;
  padding: 2rem;
  font-size: 4rem;
  font-weight: 300;
  color: #fff;
  backdrop-filter: blur(14px) brightness(80%);
  -webkit-backdrop-filter: blur(14px) brightness(80%);
}

.strawberries-text {
  padding-top: 70px;
  background-color: #5f7c8d;
  color: #fff;
  font-size: 30px;
}

.strawberries-button {
  background-color: #fff;
  color: #5f7c8d;
  margin-top: 50px;
}
.signup-section {
  padding-top: 50px;
}

#mc_embed_signup {
  background: #fff;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
  width: 600px;
}

.form-text {
  color: #5f7c8d;
  font-weight: bolder;
}

.signup-text {
  color: #5f7c8d;
  font-size: 30px;
}

#mc_embed_signup .button {
  background-color: #5f7c8d;
}

.small-print {
  font-size: xx-small;
  color: #5f7c8d;
}

.small-print > a {
  text-decoration: underline;
  color: #5f7c8d;
}

/* About Page */

.text-overlay-about {
  position: absolute;
  top: 500px;
  left: 100px;
  right: 100px;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  backdrop-filter: blur(14px) brightness(80%);
  -webkit-backdrop-filter: blur(14px) brightness(80%);
}

.about-text {
  background-color: #fff;
  color:#5f7c8d;
}

.about-text-large {
  font-size: 20px;
}

.professional-background {
  background-color: #5f7c8d;
  color: #fff;
}

.professional-background-list {
  margin: 0 200px;
  font-size: 24px;
  padding-bottom: 50px;
  }

  /* Programmes */

.text-overlay-programmes {
  position: absolute;
  top: 375px;
  left: 100px;
  right: 100px;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  backdrop-filter: blur(14px) brightness(80%);
  -webkit-backdrop-filter: blur(14px) brightness(80%);
}  

.basic {
  background-color: #B4CFEC;
}

.comprehensive {
  background-color: #bdc7d3;
}

.ultimate {
  background-color: #5f7c8d
}

/* Contact */

.text-overlay-contact {
  position: absolute;
  top: 200px;
  left: 450px;
  right: 450px;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  backdrop-filter: blur(14px) brightness(80%);
  -webkit-backdrop-filter: blur(14px) brightness(80%);
}

.contact-text-block-1 {
  padding-top: 70px;
  background-color: #5f7c8d;
  color: #fff;
  font-size: 30px;
}

.contact-text-block-2 {
  background-color: #fff;
  color:#5f7c8d;
  font-size: 30px;
}

/* policies */

.policies {
  color: #5f7c8d;
  padding: 50px 0;
}

.btn-link {
  color:#fff;
}
.btn-link:hover {
  color: #fff;
}
.card-header {
  background-color: #5f7c8d;
}

.policies-section {
  padding: 150px 0 150px 0;
}

/* logos */

.cnhc-logo {
  padding-top: 10%;
  width: 150px;
  height: fit-content;
}

.bant-logo {
  padding-top: 10%;
  width: 150px;
  height: fit-content;
}

.nced-logo {
  width: 150px;
  height: fit-content;
}

.zest-4-life-logo {
  padding-bottom: 10%;
  width: 150px;
  height: fit-content;
}

.social-media {
  background-color: #5f7c8d;
}

.social-media-icon {
  color: #fff;
}

.footer-links > p > a {
  color: #5f7c8d;
}

@media only screen and (max-width: 768px) {
  .text-overlay {
    top: 75px;
    left: 20px;
    font-size: 1.3rem;
    padding: 1.2rem;
  }

  .text-overlay-about {
    top: 75px;
    left: 20px;
    font-size: 1.3rem;
    padding: 1.2rem;
  }

  .text-overlay-programmes {
    top: 80px;
    font-size: 1rem;
    padding: 1.2rem;
  }

  .strawberries-text,
  .about-intro-text {
    padding-top: 30px;
    background-color: #5f7c8d;
    color: #fff;
    font-size: 20px;
  }

  .signup-text {
    font-size: 20px;
  }

  #mc_embed_signup {
    width: 300px !important;
    margin-left: 20px;
  }

  /* about section */

  .professional-background-header {
    font-size: 24px;
  }

  .professional-background-list {
    margin: 0 20px;
    font-size: 16px;
    padding-bottom: 50px;
    }
  /* logos */

  .cnhc-logo {
    padding-top: 10%;
    width: 230px;
    height: fit-content;
    padding-bottom: 10%;
  }
  
  .bant-logo {
    padding-top: 10%;
    width: 230px;
    height: fit-content;
    padding-bottom: 10%;
  }
  
  .nced-logo {
    width: 230px;
    height: fit-content;
    padding-bottom: 10%;
  }
  
  .zest-4-life-logo {
    padding-bottom: 10%;
    width: 230px;
    height: fit-content;
  }
  
}

@media only screen and (min-width: 1400px) {
  .text-overlay-about {
    position: absolute;
    top: 750px;
    left: 100px;
    right: 100px;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
    backdrop-filter: blur(14px) brightness(80%);
    -webkit-backdrop-filter: blur(14px) brightness(80%);
  }

  .text-overlay-programmes {
    position: absolute;
    top: 500px;
    left: 100px;
    right: 100px;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
    backdrop-filter: blur(14px) brightness(80%);
    -webkit-backdrop-filter: blur(14px) brightness(80%);
  }  

  .about-text-large {
    font-size: 24px;
  }

  .about-text-body {
    font-size: 20px;
    margin-top: 50px;
  }

  .about-text {
    padding-top: 70px;
  }
}